name: 'Contribution'

on:
  push:

permissions:
  contents: write
  actions: read
  pages: write
  id-token: write

jobs:
  build:
    name: 'Build'
    uses: ./.github/workflows/build.yml
    with:
      image: mcr.microsoft.com/playwright:v1.56.0-jammy
  test:
    name: 'Test'
    uses: ./.github/workflows/test.yml
    with:
      image: mcr.microsoft.com/playwright:v1.56.0-jammy
    needs:
      - build
#  deploy:
#    name: 'Deploy'
#    uses: ./.github/workflows/deploy.yml
#    with:
#      image: mcr.microsoft.com/playwright:v1.56.0-jammy
#    needs:
#      - build
#    secrets:
#      linode-aws-access-key-id: ${{ secrets.LINODE_AWS_ACCESS_KEY_ID }}
#      linode-aws-secret-access-key: ${{ secrets.LINODE_AWS_SECRET_ACCESS_KEY }}
