name: 'Contribution'

on:
  push:

permissions:
  contents: write
  actions: read
  pages: write
  id-token: write

jobs:
  build:
    name: 'Build'
    uses: ./.github/workflows/build.yml
    with:
      image: mcr.microsoft.com/playwright:v1.55.1
  test:
    name: 'Test'
    uses: ./.github/workflows/test.yml
    with:
      image: mcr.microsoft.com/playwright:v1.55.1
    needs:
      - build
