name: 'Deploy'

on:
  workflow_call:
    inputs:
      image:
        description: 'Docker image to be used in workflow.'
        required: true
        type: string
    secrets:
      linode-aws-access-key-id:
        description: 'AWS Access Key ID for Linode / Akamai CDN.'
        required: true
      linode-aws-secret-access-key:
        description: 'AWS Secret Access Key for Linode / Akamai CDN.'
        required: true

jobs:
  akamai-cdn-assets:
    name: 'Akamai CDN (Assets)'
    runs-on: ubuntu-latest
    # container:
    #   image: ${{ inputs.image }}
    #   options: --user root
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Install'
        uses: ./.github/actions/install
        with:
          node_modules: 'false'
          rclone: 'true'
      - name: 'Setup Node'
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: 'Download artifact'
        uses: actions/download-artifact@v6
        with:
          name: build-fallbacks
          path: ./assets/dist
      - name: 'Rclone (Fallbacks)'
        uses: ./.github/actions/rclone
        with:
          source: 'assets/dist/fallbacks/'
          target: 'fallbacks/'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.linode-aws-access-key-id }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.linode-aws-secret-access-key }}
  akamai-cdn-assets-smoke:
    name: 'Akamai CDN (Fallbacks) Smoke'
    needs:
     - akamai-cdn-assets
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.image }}
      options: --user 1001
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
      - name: 'Install'
        uses: ./.github/actions/install
      - name: 'Download artifact'
        uses: actions/download-artifact@v6
        with:
          name: build-fallbacks
          path: ./assets/dist
      - name: 'Fallbacks'
        run: npm run test:smoke:fallbacks --workspace=@porsche-design-system/assets
